/* tr {
    display: block;
} */

/* td {
    padding: 5px 10px;
    border: 1px solid lightgray;

} */

td div{
    display: flex;
    flex-direction: column;
}

input {
    padding: 2px 5px;
}

input:focus {
    outline: none
}

.error {
    border : 1px solid red;
}

.hide {
    display: none;
}

